<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="14" class="text-center"><h3>Booking Management</h3></th>
        </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Booking Date</th>
      <th scope="col">Booking Time</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Pickup Date</th>
      <th scope="col">pickup Time</th>
      <th scope="col">PickUp Address</th>
      <th scope="col">Landmark</th>
      <th scope="col">CabTypeName</th>
      <th scope="col" colspan="2" class="text-center">Operation</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let booking of bookings; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>
                {{booking.email}}
            </td> 
            <td>
                {{booking.bookingDate | date:'MM/dd/yyyy'}}
            </td> 
            <td>
                {{booking.bookingTime}}
            </td> 
            <td>
                {{booking.from.placeName}}
            </td> 
            <td>
                {{booking.to.placeName}}
            </td> 
            <td>
                {{booking.pickupDate | date:'MM/dd/yyyy'}}
            </td> 
            <td>
                {{booking.pickupTime}}
            </td> 
            <td>
                {{booking.pickupAddress}}
            </td> 
            <td>
                {{booking.landMark}}
            </td> 
            <td>
                {{booking.cab.cabTypeName}}
            </td> 
            <td>
                <app-edit-booking [booking] = 'booking'></app-edit-booking>
            </td> 
            <td>
                <app-complete [booking]='booking'></app-complete>
            </td> 
            <td>
                <button type="button" class="btn btn-danger" [ngStyle]="{width: '100px'}" (click)="deleteBooking(booking.id)">Delete</button>
            </td> 
        </tr>
      <td colspan="14"><app-add-booking></app-add-booking></td>
    </tbody>
  </table>
  
  
  
  